a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

body {
    background-color: rgb(250, 250, 250);
}


.icon-flex {
    display: flex;
    justify-content: space-evenly;
    max-width: 200px;
}

.profile-pic-container {
    align-self: center;
    margin-top: 3em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.info-container {
    margin-right: 2em;
}

@media screen and (min-width: 768px) {
    .info-container {
        margin-right: 4em;
    }
    .work-row-header {
        margin-left: 1em;
    }
}

.row-header {
    display: flex;
    align-self: center;
    justify-content: center;
    max-width: 800px;
}

.profile-pic {
    border: 3px solid white;
    border-radius: 50%;
    max-width: 125px;
    box-shadow: 3px 3px 3px rgb(200, 200, 200);
} 

.route-container {
    margin-top: 60px;
}

.work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);
}

.work-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    justify-content: center;
    padding: 1em;
    margin: 1em;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 1px 1px rgb(235, 235, 235);
}

.active {
    border-bottom: 3px solid green;
}

.icon {
    color: rgb(155, 155, 155);
    transition: 0.2s all;
}

.icon:hover {
    color: #93C54B;
    cursor: pointer;
}

.root {
    font-family: helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px
}

;
.title {
    font-size: 10px;
    margin-bottom: 0.5vh;

}

;
.repo-link {
    font-size: 14px;
}

;
